*{
	box-sizing: border-box;
}
body{
	background-image: -webkit-gradient(linear,  left top,  left bottom, 
		color-stop(0.00, red), 
		color-stop(16%, orange),
		color-stop(32%, yellow),
		color-stop(48%, green),
		color-stop(60%, blue),
		color-stop(76%, indigo),
		color-stop(1.00, violet));
	font-family: 'Helvetica Neue', Helvetica, Sans-Serif;
}
section{	
	width: 1000px;
	margin: auto;
	background: rgba(255,255,255,.5);
	padding: 20px;
}
section > h1{
	color: rgba(0,0,0,0.2);
	font-size: 3em;
	margin: 0 0 20px 0;
	text-align: center;
	text-shadow: 0 1px 0px 2px rgba(255,255,255,1);
}
fieldset {
	background: rgba(0,0,0,0.3);
	padding: 20px;
}
fieldset + fieldset {
	margin-top: 20px;
}
fieldset:nth-child(2n) {
	background-color: rgba(0,0,0,0.2);
}
fieldset input, fieldset textarea{
	border-radius: 10px;
	display: block;
	color: rgba(0,0,0,.5);
	padding: 0.5em 1em;
	margin-left: 50%;
	border: 2px solid rgba(0,0,0,0);
	-webkit-transition: color 1s, -webkit-transform 0.1s;
}
fieldset input:hover, fieldset textarea:hover{
	-webkit-transform: scale(1.1);
	color: red;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s ease 0.2s;
}
fieldset input:focus, fieldset textarea:focus{
	border: 2px solid rgba(0,0,0,0.6);
	outline: none;
	color: black;
	-webkit-transform: scale(1.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.6), inset 0 1px 1px rgba(0,0,0,.5);
	-webkit-transition: -webkit-transform 0.2s, border 1s;
}
fieldset label{
	float: left;
	display: block;
	width: 50%;
	color: rgb(250,250,250);
	text-shadow: 0 1px 1px black;
}
input[type="radio"]{
	display: inline-block;
	margin: 0;
}
input[type="submit"]{
	margin: auto;
	background: white;
	display: block;
	-webkit-transition: all 2s;
}
input[type="submit"]:hover{
	-webkit-transform: scale(4);
}
input[type="radio"] + label{
	float: none;
	display: inline;
	margin-right: 100px;
}